<table>
  <tr>
    <th style='width: 50%'>{{i18n "admin.embedding.host"}}</th>
    <th>{{i18n "admin.embedding.category"}}</th>
    <th>&nbsp;</th>
  </tr>
  {{#each embedding.embeddable_hosts as |host|}}
    {{embeddable-host host=host}}
  {{/each}}
</table>
